.grid {
  display: grid;
  column-gap: 1%;
  row-gap: 15px;
}

@media (min-width: 1920px) {
  .grid {
    grid-template-columns: repeat(8, 12%);

  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .grid {
    grid-template-columns: repeat(6, 16%);

  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .grid {
    grid-template-columns: repeat(4, 24%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(2, 49%);
    column-gap: 2%;
  } 
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1 100%;
  }
}